<footer>
    <h2 class="rights"> Matthew D. Williams</h2>
    <p class=icons>
        <a href="https://www.facebook.com/matthew.derrell.williams"></a>
        <a href="http://instagram.com/derrellwilliams" i class="ss-icon ss-social-circle">Instagram</i></a>
        <a href="http://dribbble.com/derrellwilliams"i class="ss-icon ss-social-circle">Dribbble</i></a>
        <a href="http://twitter.com/derrellwilliams" i class="ss-icon ss-social-circle">Twitter</i></a>
        <a href="http://derrellsaw.tumblr.com" i class="ss-icon ss-social-circle">Tumblr</i></a>
        <a href="https://github.com/derrellwilliams" i class="ss-icon ss-social-circle">Github</i></a>
    </p>
    <h3 class="versions"><a href="v3/index.html">See the old version of this site</a></h3>
</footer>